* {
    margin: 0;
    box-sizing: border-box;
}
.rootContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    flex: 1;
}
.left-side {
    height: inherit;
    width: 39rem;
    background-image: url(./images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-container {
    margin-top: 10rem;
    background-color: black;
    height: 10rem;
    width: 100%;
    opacity: 0.6;
    display: grid;
    place-items: center;
}
.left-header {
    color: white;
    white-space: nowrap;
}
.creds {
    padding: 1rem;
    margin-top: auto;
    color: white;
}
.creator-link {
    color: inherit;
}

.right-side {
    height: inherit;
    background-color: red;
    padding: 1rem;
}